<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item [routerLink]="['/bandeja-entrada']">
    <ion-icon name="folder-open-outline" slot="start"></ion-icon>
    <ion-label>
      Solicitud de reportes
      <ion-badge *ngIf="reportesPendientes > 0" color="primary">{{ reportesPendientes }}</ion-badge>
    </ion-label>
  </ion-item>

  <!-- Botón para mostrar el formulario -->
  <ion-button expand="full" (click)="toggleFormulario()">
    {{ mostrarFormulario ? 'Cerrar Formulario' : 'Crear Nuevo Reporte' }}
  </ion-button>

  <!-- Formulario para crear un nuevo reporte -->
  <ion-card *ngIf="mostrarFormulario">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Título del Reporte</ion-label>
        <ion-input [(ngModel)]="nuevoReporte.titulo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción del Reporte</ion-label>
        <ion-input [(ngModel)]="nuevoReporte.descripcion" required></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="crearReportes()">Enviar Reporte</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de reportes -->
  <ion-list>
    <ion-item *ngFor="let reporte of reportes">
      <ion-label>
        <h2>{{ reporte.titulo }}</h2>
        <p>{{ reporte.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
