<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let reporte of reportes">
      <ion-label>
        <h2>{{ reporte.titulo }}</h2>
        <p>{{ reporte.descripcion }}</p>
        <p>Creado el: {{ reporte.fecha_creacion }}</p>
        <p>Ciudadano ID: {{ reporte.ciudadano_id }}</p>
        <p>Coordinador ID: {{ reporte.coordinador_id }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
